# Ignore everything
*

# Exclude the "project/" directory from being ignored

# Exclude files inside the "project/" directory
!README.md 
!instances/
!instances/**
!R/
!R/**
!NAMESPACE
!DESCRIPTION
!src/
!src/**
.Rproj.user
