# Ignore everything
*

# Allow specific files/directories
!.github
!.gitignore
!README.md
!src/
!src/*
!R/
!R/*
!man/
!man/*
!LICENSE
!LICENSE.md
!DESCRIPTION
!NAMESPACE
!data/
!data/*
!vignettes/
!vignettes/*
!vignettes/img/*
doc/
doc/*
/Meta/
/doc/
# Remove binaries
src/**/*.o
src/**/*.so
src/**/*.json

