CompileFlags:
  Add:
    # Compiler flags
    - -Wall
    - -Wextra
    - -g
    - -fsanitize=address
    - -fsanitize=leak
    - -O3
    - -march=native
    - -DNDEBUG
    - -ffast-math
    - -mtune=native
    - -Xpreprocessor
    - -fopenmp

    # Include directories
    - -I/usr/local/opt/openblas/include
    - -I/usr/local/Cellar/gsl/2.8/include
    - -I/usr/local/opt/libomp/include
    - -I/usr/local/opt/llvm/include
    - -I/usr/local/Cellar/cjson/1.7.18/include
    - -Iutils
    - -I.
    - -I..

    # Linker flags
    - -L/usr/local/opt/openblas/lib
    - -L/usr/local/Cellar/gsl/2.8/lib
    - -L/usr/local/opt/libomp/lib
    - -L/usr/local/Cellar/cjson/1.7.18/lib
    - -fPIC
    - -lopenblas
    - -lgsl
    - -lgslcblas
    - -lomp
    - -lcjson
    - -Wl,-rpath,@executable_path/libs
