# Tell R to load your shared library and use its registered routines:
useDynLib(infPackage, .registration = TRUE)

# Export your main R6 class (which creates objects) and all the S3 methods:
export(EMModel)
export(summary.ecological_inference_model)
export(predict.ecological_inference_model)
export(as.matrix.ecological_inference_model)
export(update.ecological_inference_model)
export(candidates.ecological_inference_model)
export(groups.ecological_inference_model)
export(ballots.ecological_inference_model)
export(sum.ecological_inference_model)

# Export the routines that are provided by your compiled code (typically generated via Rcpp):
export(EMAlgorithmAll)
export(EMAlgorithmCDF)
export(EMAlgorithmHitAndRun)
export(RprecomputeHR)
export(RprecomputeExact)
export(RsetParameters)
export(clean_exact_precompute)
export(clean_hr_precompute)
export(clean_everything)

# If you need to import specific functions from other packages,
# list them here. For example:
importFrom(R6, R6Class)
importFrom(jsonlite, fromJSON)
