useDynLib(infPackage, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(RsetParameters)
export(EMAlgorithmAll)
export(EMAlgorithmCDF)
export(EMAlgorithmHitAndRun)
export(RprecomputeHR)
export(RprecomputeExact)
export(RsetParameters)
export(EMModel)
