# Minimal testthat workflow for fastei
on:
  schedule:
    - cron: 59 23 * * 1 # schedule to run at end of day on Monday each week
  push:
  pull_request:
    branches:
      - main
      - master

name: Tests

jobs:
  testthat:
    runs-on: ubuntu-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CI: true

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 1
          extra-packages: |
            any::testthat
          needs: |
            check

      - name: Run testthat
        run: testthat::test_local()
        shell: Rscript {0}
